@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

    /* Smooth scrolling formatting */
}

body {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    background-color: #2f3541;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 40px;
    font-weight: 900px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a {
    color: #7cf03d;
}

#home {
    position: relative;
    height: 100vh;
    padding: 60px 9% 0;
    display: flex;
    align-items: center;
    background-image: url("../assets/port_profile_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.5s;
}

.home-info h1 {
    color: #2f3541;
    font-size: 50px;
    text-align: start;
    margin-bottom: 50px;
}

.home-info h2 {
    display: inline-block;
    color: #2f3541;
    font-size: 30;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #2f3541;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #000000;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }

}

.home-info p {
    font-size: 23px;
    font-weight: 1000px;
    margin: 10px 0 25px;
    color: #000000;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #2f3541;
    border: 2px solid #2f3541;
    border-radius: 40px;
    box-shadow: 0 0 10px #2f3541;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600px;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #ffffff;
    box-shadow: none;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #2f3541;
    border-radius: 50%;
    font-size: 20px;
    color: #2f3541;
    margin: 0 8px;
}

.home-info .btn-sci .sci a:hover {
    background: #2f3541;
    color: #ffffff;
    box-shadow: 0 0 10px #343030;

}


/* --- ABOUT PAGE --- */
#about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color:#1f242d ;
}

.container {
    cursor: pointer;
    margin-top: 160px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    max-width: 1000px;
    height: 600px;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.container:hover {
    box-shadow: 0px 0px 20px #2c5364;
}

h1 {
    text-align: center;
    color: #7cf03d;
    font-size: 35px;
}
.intro {
    text-align: center;
    font-size: 18px;
    color: white;
}

.intro span {
    color: #007bff;
    font-weight: 800;
}

p {
    line-height: 2.6;
    font-size: 17px;
    margin-top: 15px;
}

.info {
    font-size: 17px;
    margin-top: 28px;
}

.info div {
    margin-bottom: 8px;
}

h3 {
    color: #7cf03d;
}

.about-wrapper {
    gap: 120px;
    display: flex;
    align-items: center;
    margin-top: 220px;
}

.about-image img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    border-radius: 9px;

}


/* --- SKILL PAGE --- */

#skills {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1f242d ;
}

.skil{
    margin-bottom: 50px;
}

.skills h1 {
    font-size: 36px;
    color: #7cf03d;
}

.subtitle {
    color: #ffffff;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skill-card {
    background: #fff;
    padding: 40px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    cursor: pointer;
}

.skill-card h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.skill {
    margin-bottom: 15px;
}

.bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.html {
    width: 85%;
    background-color: #007bff;
}

.css {
    width: 85%;
    background-color: #007bff;
}

.js {
    width: 15%;
    background-color: #007bff;
}

.python {
    width: 70%;
    background-color: #007bff;
}

.fastapi {
    width: 75%;
    background-color: #007bff;
}

.sql {
    width: 70%;
    background-color: #007bff;
}

.English {
    width: 60%;
    background-color: #007bff;
}

.LifeSkills {
    width: 55%;
    background-color: #007bff;
}

.skill span {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    color: rgb(24, 23, 23);
}

.skill span i {
    font-size: 20px;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js {
    color: #f7df1e;
}

.fa-python {
    color: #3776ab;
}

.fa-database {
    color: #b08d23;
}

.fa-bolt {
    color: #00c853;
}

.fa-language {
    color: #6a1b9a;
}

.fa-brain {
    color: #ff7043;
}




/* --- PROJECTS PAGE --- */

#projects{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1f242d ;
}
.pro {
    margin-top: 100px;
}

.projects h1 {
    font-size: 36px;
    color: #7cf03d;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.project-card {
    background: #fff;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
    color: #333;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #7cf03d;
}

.project-card h2 {
    margin-bottom: 7px;
    color: #007bff;
}

.project-card p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.9;
}

.tech {
    font-weight: 500;
    color: #444;
}

.links {
    margin-top: 15px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 14px;
    text-decoration: none;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
}

.links a:hover {
    background: #0056b3;
}

.classy {
    height: 220px;
    width: 270px;
}

.village {
    height: 220px;
    width: 240px;
    margin-left: 10px;
}

.profile {
    height: 220px;
    margin-left: -15px;
    border-radius: 8px;
    width: 300px;
}

/* --- CONTACT PAGE --- */
#contact {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1f242d ;
}

.cont{
    margin-bottom: 50px;

}
#contact h1 {
    font-size: 2rem;
    margin-top: 95px;
}

.contact-box {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    padding: 50px;
    max-width: 900px;
    border-radius: 20px;
    align-items: center;
    margin-left: 300px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
}

.cta {
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

.contact-options {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.flip-container {
    perspective: 1000px;
    width: 200px;
    height: 120px;
    margin: 0 auto;
}

.flip-box {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-container:hover .flip-box {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-family: Poppins, sans-serif;
    color: #000000;
}

.front {
    background: #dbcdb3;
}

.back {
    background: #9cc785;
    transform: rotateY(180deg);
}

/* hobbies and intrest */

.hobby-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.hobby-card {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: black;
    cursor: pointer;
    object-fit: cover;
}

.hobby-card:hover {
    box-shadow: 0px 0px 20px #2c5364;
}
.hob{
    margin-bottom: 250px;
}

#hobbies-intrest {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#1f242d ;
}

#hobbies-intrest h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.hobby-card i{
   font-size: 40px;      
    color: #1e212d;        
    margin-bottom: 15px;
}

.hobby-card p {
    font-size: 17px;
    font-weight: 500px;
}