* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    background: rgb(255, 255, 255);
    padding: 50px;
    max-width: 900px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
.cta{
    margin-top: 30px;
    color: rgb(0, 0, 0);
}

.contact-box h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #7cf03d;
}

.subtitle {
    color: #000000;
    margin-bottom: 40px;
}

.contact-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}


.flip-container {
    perspective: 1000px;
}

.flip-box {
    width: 200px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-container:hover .flip-box {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.front {
    background: #1c7de4;
}

.back {
    background: #7cf03d;
    transform: rotateY(180deg);
}

