* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
}

.skills {
    padding: 60px 20px;
    text-align: center;
}

.skills h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #7cf03d;
}

.subtitle {
    color: #ffffff;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.skill-card {
    background: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: left;
    cursor: pointer;
}

.skill-card h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    font-size: 14px;
    font-weight: 500;
}

.bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.skill span{
    font-size: 15px;
    font-weight: 300px;
}
.html:hover{
    width: 90%;
    background-color: #007bff;
}
.css:hover{
    width: 85%; 
    background-color: #007bff;
}
.js:hover{
    width: 40%;
    background-color: #007bff;
}

.python:hover{
    width: 50%;
    background-color: #007bff;
}
.fastapi:hover{
    width: 65%;
    background-color: #007bff;
}
.sql:hover{
    width: 60%;
    background-color: #007bff;
}
.English:hover{
    width: 60%;
    background-color: #007bff;
}
.LifeSkills:hover{
    width: 85%;
    background-color: #007bff;
}
