* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
}

.projects {
    padding: 60px 20px;
    text-align: center;
}

.projects h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #7cf03d;
}

.subtitle {
    color: #ffffff;
    margin-bottom: 40px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #7cf03d;
}

.project-card h2 {
    margin-bottom: 10px;
    color: #007bff;
}

.project-card p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.9;
}

.tech {
    font-weight: 500;
    color: #444;
}

.links {
    margin-top: 15px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 14px;
    text-decoration: none;
    background: #007bff;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
}

.links a:hover {
    background: #0056b3;
}
